# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_token_here

# API Server Configuration
API_SERVER_IP=localhost
API_PORT=8000

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Ngrok Configuration
NGROK_AUTH_TOKEN=your_ngrok_auth_token_here
STATIC_DOMAIN=your_static_domain_here
