# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Environment Variables
.env

# Logs
*.log
nohup.out

# Checkpoints
*.sqlite
*.sqlite-journal

# Media artifacts
media/
static/
notes.private.md
